{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    {% if user.profile.avatar %}
        <img class="avatar" src="{{ user.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    {% if user.profile.link %}
        <p>URL: {{ user.profile.link }}</p>
    {% endif %}
    {% if user.profile.description %}
    <p>About: {{ user.profile.description }}</p>
    {% endif %}
    <p>Nickname: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <h2 class="text-center clear">User Projects:</h2>
    {% include 'partial/project_list.html' %}
{% endblock %}