{% extends 'base.html' %}
<body>
    {% block menu %}  
    {% if perms.webapp.project_create or project.user == request.user %}
    <li><a href="{% url 'webapp:project_create' %}">Add Project</a></li>  
    {% endif %}     
    {% endblock %}
    {% block content %}
    <div class="container">
    <h1>Project List</h1>
        {% if not projects %}
            <h2>There is no projects that you are looking for</h2>
        {% else %}
            {% include "partial/search.html" %}
        {% endif %}
        {% for project in projects %}
        <div class="card mb-2" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">Name: {{ project.name }}</h5>  
            {% if perms.webapp.task_view or project.user == request.user %}             
            <a href="{% url 'webapp:project_detail' project.pk %}">More</a><br>
            {% endif %}
            {% if perms.webapp.task_delete or project.user == request.user %}
            <a href="{% url 'webapp:project_delete' project.pk %}"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/trash.png"/></a>
            {% endif %}
            {% if perms.webapp.task_edit or project.user == request.user %}
            <a href="{% url 'webapp:project_edit' project.pk %}"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/edit.png"/></a>
            {% endif %}
            </div>
        </div>     
        {% endfor %}
    </div>   
    {% endblock %}
</body>
</html>