{% extends 'base.html' %}
{% block menu %}
<li><a href="{% url 'webapp:task_create' project.pk %}">Create Task</a></li>  
<li><a href="{% url 'webapp:project_view' %}">Projects</a></li>       
{% endblock %}
{% block content %}
<div class="container">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">Name: {{ project.name }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <p class="card-text">{{ project.started_at }}</p>
            {% if project.end_at is None %}
                <p>No end data was given</p>    
              {% else %}   
            <p class="card-text">{{ project.end_at }}</p>
              {% endif %}         
            </div> 
            {% for task in project.projects.all %}  
            <div class="card mb-2" style="width: 18rem;">
                <div class="card-body mb-2">
                <h5 class="card-title">Status: {{ task.status_key }}</h5>
                <h6 class="card-subtitle mb-2">{{ task.summary }}</h6>
                <h6 class="card-subtitle mb-2">{{ task.description }}</h6>
                <a href="{% url 'webapp:task_view' task.pk %}">Details</a><br>
                <a href="{% url 'webapp:task_delete' task.id %}"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/trash.png"/></a>
                <a href="{% url 'webapp:task_edit' task.id %}"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/edit.png"/></a>
                </div>    
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}    