{% extends 'base.html' %}
<body>
    {% block menu %}
    <li><a href="{% url 'webapp:project_view' %}">Projects</a></li>       
    {% endblock %}
    {% block content %}
    <div class="container">
    <h1>Task List</h1>
        {% if not tasks %}
            <h2>There is no tasks that you are looking for</h2>
        {% else %}
            {% include "partial/search.html" %}
        {% endif %}

        {% for task in tasks %}
        <div class="card mb-2" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">Status: {{ task.status_key }}</h5>
            <h6 class="card-subtitle mb-2">{{ task.summary }}</h6>
            <h6 class="card-subtitle mb-2">{{ task.description }}</h6>
            {% if perms.webapp.task_view or project.user == request.user %}             
            <a href="{% url 'webapp:project_detail' project.pk %}">More</a><br>
            {% endif %}
            {% if perms.webapp.task_delete or project.user == request.user %}
            <a href="{% url 'webapp:project_delete' project.pk %}"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/trash.png"/></a>
            {% endif %}
            {% if perms.webapp.task_edit or project.user == request.user %}
            <a href="{% url 'webapp:project_edit' project.pk %}"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/edit.png"/></a>
            {% endif %}
            </div>    
        </div>
        {% endfor %}
        {% include 'partial/pagination.html' %}
    </div>    
    {% endblock %}
</body>
</html>